.card {
  mat-card-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 50px;
  }
}


.spacer {
  flex: 1 1 auto;
}

.blog-list-tab {
  min-height: 800px !important;
}

.empty-container {
  height: 800px;
}



