<mat-toolbar color="primary">
    <h4>My Blogs</h4>
    <span class="spacer"></span>
    <button mat-icon-button
            matTooltip="Create a new Blog!"
            (click)="onCreate()">
      <mat-icon>create</mat-icon>
    </button>
</mat-toolbar>

<div class="m-8">
  <div class="blog-list-container">
    <mat-card class="card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/blog/blogview">READ MORE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/blog/blogview">READ MORE</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>


