<mat-toolbar color="primary">
    <h4>My Blogs</h4>
    <span class="spacer"></span>
    <button mat-icon-button
            matTooltip="Create a new Blog!"
            routerLink="/blog/newblog/create">
      <mat-icon>create</mat-icon>
    </button>
</mat-toolbar>

<div class="m-8">
  <div class="blog-list-container">
    <!-- Blog Loader -->
    <div class="spinner-container w-100 mat-typography" *ngIf="isLoading">
        <p class="text-center">
          <mat-spinner class="m-auto"></mat-spinner>
          Loading Blogs...
        </p>
      </div>
    <!-- End: Blog Loader -->

    <!-- Blog List -->
    <div *ngIf="!isLoading">
      <mat-card class="card" *ngFor="let blog of blogs">
        <img mat-card-image src="{{ blog.featured_photo }}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h2>{{ blog.title }}</h2>
          <p>{{ blog.summary }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/blog/{{ blog._id }}">READ MORE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!-- End: Blog List -->
  </div>
</div>


