<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/blog">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h4>Blog Create</h4>
</mat-toolbar>

<div class="m-8">
  <mat-card class="blog-form-card">
    <form>
      <!-- Featured Photo -->
      <div class="image-container text-center">
        <!-- Image Loader   -->
        <mat-spinner class="m-auto" *ngIf="isLoadingPhoto" ></mat-spinner>
        <img *ngIf="!isLoadingPhoto"
              src="{{ blog.featured_photo }}"
              onerror="this.src='../../../assets/imgs/blogs/image-not-available.png'" />
        <div>&nbsp;</div>
        <input type="file" [hidden]="true" #imageInput (change)="onUploadFeaturedPhoto($event)">
        <a class="text-center" mat-raised-button (click)="imageInput.click()">
          <mat-icon>insert_photo</mat-icon>
          <div class="upload-btn">UPLOAD</div>
        </a>
      </div>
      <!-- Youtube Detail -->
      <mat-form-field class="w-50 mt-10 font-20">
      <input #videoID
              matInput
              placeholder="YouTube ID"
              value="{{ blog.youtube_stats.youtube_id }}"
              name="youtube_stats">
      </mat-form-field>
      <button class="ml-10"
            mat-raised-button
            color="primary"
            (click)="getVideoStats(videoID.value)">Fetch Stats</button>
      <!-- Youtube Stats -->
      <mat-card *ngIf="blog.youtube_stats">
        <mat-spinner *ngIf="isLoadingFetchStats else showList"></mat-spinner>
        <ng-template #showList>
        <mat-list>
          <h2 *ngIf="youtubeStatsError">{{ youtubeStatsError }}</h2>
          <h3 mat-subheader>Youtube Statistics:</h3>
            <mat-list-item>
              <h4 mat-line>Comments: <span>{{ blog.youtube_stats.comment_count || 0 }}</span></h4>
              <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>Dislikes: <span>{{ blog.youtube_stats.dislike_count  || 0 }}</span></h4>
              <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>Favorites: <span>{{ blog.youtube_stats.favorite_count  || 0 }}</span></h4>
              <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>Views: <span>{{ blog.youtube_stats.view_count  || 0 }}</span></h4>
              <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>Likes: <span>{{ blog.youtube_stats.like_count }}</span></h4>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </ng-template>
      </mat-card>
      <!-- Title -->
      <mat-form-field class="w-100 mt-10 font-20">
        <input matInput
                placeholder="Title"
                [(ngModel)]="blog.title"
                value="{{ blog.title }}"
                name="title">
      </mat-form-field>
      <!-- Summary -->
      <mat-form-field class="w-100 mt-10 font-20">
          <textarea matInput
                    placeholder="Summary"
                    [(ngModel)]="blog.summary"
                    value="blog.summary"
                    name="summary"></textarea>
      </mat-form-field>
      <!-- Body -->
      <editor apiKey="tinyMCEAPI"
              [init]="{plugins: ['link', 'codesample', 'image'], height: '350'}"
              [(ngModel)]="blog.body"
              name="body"></editor>
      <button class="mt-10" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      <button class="mt-10 float-r" mat-raised-button (click)="onSave()">Save</button>
    </form>
  </mat-card>
</div>
