<mat-toolbar color="primary">
    <button mat-icon-button (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  <h4>Blog View</h4>
</mat-toolbar>
<div class="m-8">
  <mat-card class="blog-form-card">
    <!-- Blog Loader -->
    <div class="spinner-container w-100 mat-typography" *ngIf="isLoading">
      <p class="text-center">
        <mat-spinner class="m-auto"></mat-spinner>
        Loading Blogs...
      </p>
    </div>
    <!-- End: Blog Loader -->

    <!-- Blog Editor -->
    <form *ngIf="!isLoading">
        <!-- Featured Photo -->
        <div class="image-container text-center">
          <!-- Image Loader   -->
          <mat-spinner class="m-auto" *ngIf="isLoadingPhoto" ></mat-spinner>
          <img *ngIf="!isLoadingPhoto"
               src="{{ blog.featured_photo }}"
               onerror="this.src='../../../assets/imgs/blogs/image-not-available.png'" />
          <div>&nbsp;</div>
          <input type="file" [hidden]="true" #imageInput (change)="onUploadFeaturedPhoto($event)">
          <a class="text-center" mat-raised-button (click)="imageInput.click()">
            <mat-icon>insert_photo</mat-icon>
            <div class="upload-btn">UPLOAD</div>
          </a>
        </div>
        <!-- Title -->
        <mat-form-field class="w-100 mt-10 font-20">
          <input matInput
                 placeholder="Title"
                 [(ngModel)]="blog.title"
                 value="{{ blog.title }}"
                 name="title">
        </mat-form-field>
        <!-- Summary -->
        <mat-form-field class="w-100 mt-10 font-20">
            <textarea matInput
                      placeholder="Summary"
                      [(ngModel)]="blog.summary"
                      value="blog.summary"
                      name="summary"></textarea>
        </mat-form-field>
        <!-- Body -->
        <editor apiKey="tinyMCEAPI"
                [init]="{
                         plugins: ['link', 'codesample', 'media'],
                         height: '350'
                        }"
                [(ngModel)]="blog.body"
                name="body"></editor>
        <!-- Buttons -->
        <button class="mt-10" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        <button class="mt-10 float-r" mat-raised-button color="warn" (click)="onDelete()">Delete</button>
      </form>
      <!-- End: Blog Editor -->
  </mat-card>
</div>
