/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.main-header {
  position: relative;
}
.main-header a {
  text-decoration: none;
  color: #fff;
}
.main-header a:hover {
  color: #ccc;
}

footer {
  bottom: 0;
  width: 100%;
}

.footer-container {
  width: 100%;
  padding-top: 20px;
  background: #614646;
}

.footer-container h2 {
  color: #fff;
}

/* Margins */
.m-auto {
  margin: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.m-8 {
  margin: 8px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

/* Paddings */
.pad-10 {
  padding: 10px !important;
}

/* Widths */
.w-100 {
  width: 100% !important;
}

.w-70 {
  width: 70% !important;
}

.w-50 {
  width: 50% !important;
}

/* Font Sizes */
.font-20 {
  font-size: 20px !important;
}

/* Alignments */
.text-center {
  text-align: center !important;
}

.float-r {
  float: right !important;
}

/* Spinners */

.spinner-container {
  height: 800px;
  margin-top: 20px;
}
